<div class="container">
<div class="appointment-update-container">
  <h2>Update Appointment</h2>
  <form [formGroup]="appointmentForm" (ngSubmit)="updateAppointment()">
    <div>
      <label for="date" >Date</label>
      <input id="date" formControlName="date" type="date" [attr.min]="minDate">
    </div>
    <div>
      <label for="time">Time</label>
      <input id="time" formControlName="time" type="time">
    </div>
    <div>
      <label for="door_number">Door Number</label>
      <input id="door_number" formControlName="door_number" type="number">
      <div *ngIf="hasError('door_number', 'required')" class="text-danger">Broj ordinacije je obavezan.</div>
    </div>
    <div>
      <label for="description">Description</label>
      <textarea id="description" formControlName="description"></textarea>
    </div>
    <div>
      <label for="faculty_name">Faculty Name</label>
      <input id="faculty_name" formControlName="faculty_name" type="text">
    </div>
    <div>
      <label for="field_of_study">Field of Study</label>
      <input id="field_of_study" formControlName="field_of_study" type="text">
    </div>
    <div *ngIf="!appointmentForm.get('systematic')?.value">
      <label for="reserved">Reserved</label>
      <input id="reserved" formControlName="reserved" type="checkbox"  class="align-right"/>
    </div>

    <div class="button-group"  [ngStyle]="{'margin-top': appointmentForm.get('systematic')?.value ? '20px' : '0'}">
      <button type="submit" [disabled]="!appointmentForm.valid">Update</button>
      <button type="button" (click)="goBack()">Cancel</button>
    </div>
  </form>
</div>
</div>
