<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" routerLink="/">Home</a>
      <button class="navbar-toggler" type="button">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/register/user">Napravite nalog</a>
          </li>
          <li class="nav-item" *ngIf="userRole === 'STUDENT' || userRole === 'PROFESOR' || userRole === 'ADMIN'">
            <a class="nav-link" routerLink="/university">Fakultet</a>
          </li>
          <li class="nav-item" *ngIf="userRole === 'DOKTOR' || userRole === 'DEZURAN'">
            <a class="nav-link" href="http://localhost:4200/">Zdravstvo</a>
          </li>
          <li class="nav-item" *ngIf="userRole === 'STUDENT' || userRole === 'DEZURAN'">
            <a class="nav-link" href="http://localhost:4200/student-appointment-management">Zdravstvo</a>
          </li>
          <li class="nav-item" *ngIf="userRole === 'STUDENT' || userRole === 'ADMIN'">
            <a class="nav-link" routerLink="/dorms">Domovi</a>
          </li>
          <li class="nav-item" *ngIf="userRole === 'STUDENT' || userRole === 'KUVAR'">
            <a class="nav-link" routerLink="/food">Menza</a>
          </li>
          <li class="nav-item col-md-2">
            <button class="
  