<div class="container mt-5">
    <h2>Registruj Korisnika</h2>
    
    <div *ngIf="registrationSuccess" class="alert alert-success" role="alert">
      Registracija uspešna!
    </div>
    
    <div *ngIf="registrationError" class="alert alert-danger" role="alert">
      {{ registrationError }}
    </div>
    
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="first_name" class="form-label">Ime</label>
        <input type="text" class="form-control" id="first_name" formControlName="first_name" required>
      </div>
      
      <div class="mb-3">
        <label for="last_name" class="form-label">Prezime</label>
        <input type="text" class="form-control" id="last_name" formControlName="last_name" required>
      </div>
      
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" formControlName="email" required>
      </div>
      
      <div class="mb-3">
        <label for="password" class="form-label">Lozinka</label>
        <input type="password" class="form-control" id="password" formControlName="password" required>
      </div>
      
      <div class="mb-3">
        <label for="phone" class="form-label">Broj telefona</label>
        <input type="tel" class="form-control" id="phone" formControlName="phone" required>
      </div>
      
      <div class="mb-3">
        <label for="address" class="form-label">Adresa</label>
        <input type="text" class="form-control" id="address" formControlName="address" required>
      </div>
      
      <div class="mb-3">
        <label for="user_type" class="form-label">Tip korisnika</label>
        <select class="form-control" id="user_type" formControlName="user_type" required>
          <option value="">Izaberite tip korisnika</option>
          <option value="STUDENT">Student</option>
          <option value="DOKTOR">Doktor</option>
          <option value="PROFESSOR">Profesor</option>
          <option value="KUVAR">Kuvar</option>
          <option value="ADMIN">Admin</option>
          <option value="DEZURAN">Dežuran</option>
        </select>
      </div>
      
      <button type="submit" class="btn btn-primary" [disabled]="!registerForm.valid">Registruj Korisnika</button>
    </form>
</div>
  