/* Dark Theme Color Scheme */
:root {
  --primary-color: #4d79ff; /* Primary color */
  --secondary-color: #bfbfbf; /* Secondary color */
  --success-color: #28a745; /* Success color */
  --info-color: #17a2b8; /* Info color */
  --warning-color: #ffc107; /* Warning color */
  --danger-color: #dc3545; /* Danger color */
  --light-color: #343a40; /* Light color */
  --dark-color: #f8f9fa; /* Dark color */
}

/* Global Styling */
body {
  font-family: Arial, sans-serif;
  background-color: var(--light-color);
  color: var(--dark-color);
}

.container {
  margin-top: 20px;
}

/* Buttons */
.btn {
  background-color: var(--light-color);
  border-color: var(--dark-color);
  color: var(--dark-color);
}

.btn:hover {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
  color: var(--dark-color);
}

.btn-primary {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.btn-primary:hover {
  background-color: #2556ff;
  border-color: #2556ff;
}

/* Cards */
.card {
  border: 1px solid rgba(255, 255, 255, 0.125);
  border-radius: 0.25rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  background-color: var(--light-color);
  color: var(--light-color);
}

.card-header {
  background-color: var(--secondary-color);
  border-bottom: 1px solid rgba(255, 255, 255, 0.125);
}

.card-body {
  color: var(--dark-color);
}

.card-title {
  color: var(--primary-color);
}

.card-text {
  color: var(--secondary-color);
}

/* Forms */
.form-control {
  border: 1px solid rgba(255, 255, 255, 0.15);
  background-color: var(--light-color);
  color: var(--dark-color);
}

.form-control:focus {
  border-color: var(--primary-color);
  background-color: var(--light-color);
  color: var(--dark-color);
  box-shadow: 0 0 0 0.2rem rgba(77, 121, 255, 0.25);
}

/* Alerts */
.alert {
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.alert-primary {
  background-color: var(--primary-color);
  color: var(--dark-color);
}

.alert-secondary {
  background-color: var(--secondary-color);
  color: var(--dark-color);
}

.alert-success {
  background-color: var(--success-color);
  color: var(--dark-color);
}

.alert-info {
  background-color: var(--info-color);
  color: var(--dark-color);
}

.alert-warning {
  background-color: var(--warning-color);
  color: var(--dark-color);
}

.alert-danger {
  background-color: var(--danger-color);
  color: var(--dark-color);
}

/* Tables */
.table {
  border-collapse: collapse;
}

.table th, .table td {
  border: 1px solid rgba(255, 255, 255, 0.15);
  padding: 0.75rem;
  vertical-align: top;
  background-color: var(--light-color);
  color: var(--dark-color);
}

.table thead th {
  background-color: var(--secondary-color);
}

.table tbody+tbody {
  border-top: 2px solid rgba(255, 255, 255, 0.15);
}

.list-group {
  color: var(--light-color);
}