/* Wrapper za naslov i tabele */
.appointment-section {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.section-title {
  font-size: 24px;
  margin-bottom: 20px;
}

/* Wrapper za tabele */
.table-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
}

/* Stil za tabele */
.appointment-table-container {
  flex: 1;
  max-width: 45%;
  overflow-x: hidden;
}

.appointment-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 16px;
  text-align: left;
}

.appointment-table thead {
  background-color: #f2f2f2;
}

.appointment-table th, .appointment-table td {
  padding: 5px 10px;
  white-space: nowrap;
  text-align: center;
  font-size: 14px; /* Smanjen font */
}

.appointment-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.appointment-table tbody tr:nth-of-type(even) {
  background-color: #f9f9f9;
}

.button {
  padding: 5px 10px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  text-transform: uppercase;
}

.button:hover {
  background-color: darkblue;
}

.delete-button{
  margin-left: 5px;
}
