<div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light container-fluid"> <!-- container-fluid for full width -->
    <a class="navbar-brand">Euprava</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>

        <li *ngIf="!isLoggedIn" class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
        <li *ngIf="!isLoggedIn" class="nav-item">
          <a class="nav-link" href="/register">Register</a>
        </li>

        <li *ngIf="isLoggedIn" class="nav-item">
          <a class="nav-link" href="#">University</a>
        </li>
        <li *ngIf="isLoggedIn" class="nav-item">
          <a class="nav-link" href="#">Dorms</a>
        </li>
        <li *ngIf="isLoggedIn" class="nav-item">
          <a class="nav-link" href="#">Healthcare</a>
        </li>
        <li *ngIf="isLoggedIn" class="nav-item">
          <a class="nav-link" href="#">Food</a>
        </li>
        
        <li *ngIf="isLoggedIn" class="nav-item">
          <button class="btn btn-danger" (click)="logout()">Logout</button>
        </li>
      </ul>
    </div>
  </nav>
</div>
