<form [formGroup]="appointmentForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="date">Datum:</label>
    <input type="date" id="date" formControlName="date">
  </div>

  <div>
    <label for="time">Vreme:</label>
    <input type="time" id="time" formControlName="time">
  </div>

  <div>
    <label for="doorNumber">Broj ordinacije:</label>
    <input type="number" id="doorNumber" formControlName="doorNumber">
  </div>

  <div>
    <label for="description">Dodatan opis:</label>
    <textarea id="description" formControlName="description"></textarea>
  </div>

  <button type="submit">Kreiraj pregled</button>
</form>
