<!-- appointment-list.component.html -->

<div class="appointment-table-container">
  <table class="appointment-table">
    <thead>
    <tr>
      <th class="date-column">Date</th>
      <th>Student</th>
      <th>Door Number</th>
      <th>Description</th>
      <th>Systematic</th>
      <th>Faculty</th>
      <th>Field of Study</th>
      <th>Reserved</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let appointment of appointments">
      <td class="date-column">{{ appointment.date | date: 'short' }}</td>
      <td>{{ appointment.student || 'null' }}</td>
      <td>{{ appointment.door_number }}</td>
      <td>{{ appointment.description || 'null' }}</td>
      <td>{{ appointment.systematic }}</td>
      <td>{{ appointment.faculty_name || 'null' }}</td>
      <td>{{ appointment.field_of_study || 'null' }}</td>
      <td>{{ appointment.reserved }}</td>
      <td>
        <button class="button" (click)="deleteAppointment(appointment.id)">Obrisi</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
